    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&family=Open+Sans:wght@300&display=swap');
    body {
        font-family: "Open Sans", sans-serif;
    }
    
    span.japanese {
        font-family: 'Noto Serif JP', serif;
    }
    
    #header1 {
        text-align: center;
    }
    
    header {
        display: flex;
        flex-direction: row;
    }
    
    div.nav {
        font-size: 1.3em;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgb(4, 45, 169);
        height: 20px;
        width: 100%;
        color: aliceblue;
    }
    
    div.navbar {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        height: 20px;
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
    
    a:link {
        color: white;
        text-decoration: none;
    }
    
    a:visited {
        color: white;
        text-decoration: none;
    }
    /* table {
    border: 1px solid black;
} */
    
    td {
        border: 1px solid black;
    }
    
    h2.alhead {
        align-items: center;
        text-align: center;
    }
    
    table {
        font-size: 2em;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Noto Serif JP', serif;
    }
    
    div.pagecontain {
        position: relative;
        min-height: 100vh;
    }
    
    div.pagewrap {
        padding-bottom: 20px;
    }
    
    div.footer {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        height: 20px;
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        /* margin-top: 1000px; */
        position: absolute;
        bottom: 0;
    }
    
    div.fcontent {
        font-size: 1.3em;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgb(4, 45, 169);
        height: 20px;
        width: 100%;
        color: aliceblue;
    }
    /* #explainhead {
        text-align: center;
    } */
    /* #useshead,
    p.usescontent {
        display: inline;
        float: left;
    }
    
    #explainhead,
    p.explaincontent {
        display: inline;
        float: right;
    } */
    /* p.usescontent {
        padding-right: 500px;
    }
    
    p.explaincontent {
        padding-left: 500px;
    } */
    
    #explainhead {
        text-align: center;
    }
    
    #useshead {
        text-align: center;
    }
    
    h2.grammarhead {
        text-align: center;
    }
    
    div.usebox {
        float: left;
        width: 50%;
        position: absolute;
    }
    
    div.explainbox {
        width: 50%;
        position: relative;
        float: right;
        top: 270px;
    }
    
    #sec1 {
        width: 100%;
        height: 600px;
    }
    
    h1 {
        text-align: center;
    }
    
    iframe {
        width: 60%;
        height: 630px;
    }
    
    div.centerembed {
        text-align: center;
    }
    
    #homepagecontent {
        text-align: center;
    }