    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&family=Open+Sans:wght@300&display=swap');
    body {
        font-family: "Open Sans", sans-serif;
        transition-property: all;
        transition-duration: 1s;
        /* width: 100%; */
        margin: 0px;
    }
    
    span.japanese {
        font-family: 'Noto Serif JP', serif;
    }
    
    #header1 {
        text-align: center;
        margin-top: -10px;
    }
    
    header {
        display: flex;
        flex-direction: row;
    }
    
    div.nav {
        font-size: 1.3em;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgb(4, 45, 169);
        height: 20px;
        width: 100%;
        color: aliceblue;
    }
    
    div.navbar {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        height: 20px;
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        z-index: 2;
        /* padding-left: 0%;
        padding-right: 0%; */
        /* position: fixed;
        top: 46px; */
    }
    
    div.nav div.dropdownitem a {
        display: none;
        color: white;
        background-color: rgba(4, 45, 169, 0.866);
        font-size: .85em;
        /* z-index: 100; */
    }
    
    div.nav:hover div.dropdownitem a {
        display: block;
    }
    
    a:link {
        color: white;
        text-decoration: none;
    }
    
    a:visited {
        color: white;
        text-decoration: none;
    }
    
    td {
        border: 1px solid black;
    }
    
    h2.alhead {
        align-items: center;
        text-align: center;
    }
    
    table {
        font-size: 4em;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Noto Serif JP', serif;
    }
    
    div.pagecontain {
        position: relative;
        min-height: 100vh;
        /* background-image: url("19007.jpg"); */
    }
    
    div.pagewrap {
        padding-bottom: 50px;
    }
    
    div.footer {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        height: 20px;
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        /* margin-top: 1000px; */
        position: absolute;
        bottom: 0;
    }
    
    div.fcontent {
        font-size: 1.3em;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgb(4, 45, 169);
        height: 20px;
        width: 100%;
        color: aliceblue;
    }
    
    div.explainhead,
    div.useshead,
    h2.grammarhead {
        text-align: center;
    }
    /* #useshead {
        text-align: center;
    }
    
    h2.grammarhead {
        text-align: center;
    } */
    
    div.usebox {
        float: left;
        width: 50%;
        position: absolute;
        text-align: center;
    }
    
    div.explainbox {
        width: 50%;
        position: relative;
        float: right;
        top: 270px;
        text-align: center;
    }
    
    div.sec1 {
        width: 100%;
        height: 600px;
    }
    
    h1 {
        text-align: center;
    }
    
    iframe {
        width: 60%;
        height: 630px;
    }
    
    div.centerembed {
        text-align: center;
    }
    
    #homepagecontent {
        text-align: center;
        margin-left: 30%;
        margin-right: 30%;
        z-index: 1;
    }
    
    a:hover {
        text-decoration: underline white solid;
    }
    
    #after_submit {
        visibility: hidden;
    }